<div id="<%= dom_id student_record %>">
  <p>
    <strong>First name:</strong>
    <%= student_record.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student_record.last_name %>
  </p>

  <p>
    <strong>Student number:</strong>
    <%= student_record.student_number %>
  </p>

  <p>
    <strong>Student mark:</strong>
    <%= student_record.student_mark %>
  </p>

</div>